#home {
  background-color: $light-gray;
  display: flex;
  position: relative;
  margin-bottom: 40em;
  
  .text {
    max-width: 26.5em;
    padding: 8em 0 12em 0;

    h1 {
      font-size: 3.5rem;
      margin: .7em 0;
    }
    
    p {
      font-size: 1.5em;
    }
  }

  .card1,
  .card2,
  .card3 {
    background-color: &light-gray;
    font-size: 1.5em;
    max-width: 500px;
    text-align: center;
    
    p {
      &:nth-child(2) {
        font-weight: bold;
        padding: 1em 0;
      }

      &:nth-child(3) {
        padding: 0 3rem 1.5em;
      }
    }
  }

  .card1 {
    position:absolute;
    top: 12.4%;
    left: 42%;
  }

  .card-right {
    position: absolute;
    right: 4.2%;
    top: 5%;
  }

  .scroll-down {
    p {
      font-size: 10em;
      position: absolute;
      bottom: -.26em;
      left: .3em;
      cursor: pointer;
      display: inline;
    }
  }
}