#socials {
  p {
    font-size: 3rem;
    text-align: center;
  }
  div {
    display: flex;
    justify-content: space-between;

    a{
      &:nth-child(2) {
        margin-top: 5rem;
      }
    }
  }
}