* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a.link {
  position: relative;
}

a.link::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a.link:hover::after {
  width: 100%;
}

img {
  width: 100%;
}

picture {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #6DD6DA;
}

section {
  margin-bottom: 5rem;
}

.container {
  padding: 0 5rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav p {
  font-size: 4rem;
  font-weight: bolder;
  margin: 1rem 0;
}

header nav .menu {
  opacity: 1;
  visibility: visible;
}

header nav .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

header nav .user-utils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .user-utils .user-profile {
  margin-right: 1rem;
}

header nav .user-utils .toggle {
  display: none;
}

.swiper-container {
  width: 100%;
  max-height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#icons {
  padding: 0 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#icons img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

#home {
  background-color: #A2ABB5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 40em;
}

#home .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home .container .text {
  max-width: 25%;
  padding: 8em 0 12rem 0;
}

#home .container .text h1 {
  font-size: 3.5rem;
  margin: .7em 0;
}

#home .container .text p {
  font-size: 1.5em;
}

#home .container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 8%;
  left: 35%;
  width: 60%;
}

#home .container .cards .card1,
#home .container .cards .card2,
#home .container .cards .card3 {
  background-color: #home .container .cards .card1, #home .container .cards .card2, #home .container .cards .card3 light-gray;
  font-size: 1.5em;
  text-align: center;
}

#home .container .cards .card1 p:nth-child(2),
#home .container .cards .card2 p:nth-child(2),
#home .container .cards .card3 p:nth-child(2) {
  font-weight: bold;
  padding: 1em 0;
}

#home .container .cards .card1 p:nth-child(3),
#home .container .cards .card2 p:nth-child(3),
#home .container .cards .card3 p:nth-child(3) {
  padding: 0 3rem 1.5em;
}

#home .container .cards .card1 {
  margin-top: 4.5rem;
  width: 50%;
}

#home .container .cards .card-right {
  margin-left: 8rem;
  width: 50%;
}

#home .scroll-down p {
  font-size: 10em;
  position: absolute;
  bottom: -.26em;
  left: .3em;
  cursor: pointer;
  display: inline;
}

#products {
  background-color: #A2ABB5;
  max-width: 89%;
}

#products .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#products .container .product-slider {
  position: relative;
  top: 10rem;
  right: -14%;
  width: 39.12%;
  height: 100%;
}

#products .container .imagewrapper {
  padding: 5rem 2rem 5rem 0;
}

#products .container .text {
  margin-top: 5rem;
  max-width: 25rem;
}

#products .container .text p {
  font-size: 1.5rem;
}

#products .container .text h2 {
  font-size: 4rem;
  margin: 2rem 0;
}

#products .container .text button {
  font-size: 1.5rem;
  color: white;
  border: none;
  background-color: black;
  padding: 1.5rem 4rem;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
  margin-top: 4.4rem;
}

#products .container .text button:hover {
  color: black;
  background-color: white;
}

#socials p {
  font-size: 3rem;
  text-align: center;
}

#socials div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#socials div a {
  width: 28.5%;
}

#socials div a:nth-child(2) {
  margin-top: 5rem;
}

footer .logo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

footer .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .menus .logo {
  font-size: 1.3rem;
  margin-bottom: 3rem;
  text-align: left;
}

footer .menus .menu1 ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: .5rem 3rem;
}

footer .menus .menu2 input,
footer .menus .menu2 button {
  background-color: #6DD6DA;
  border: none;
  border-bottom: 1px black solid;
  padding-bottom: .5rem;
  font-size: 1rem;
}

footer .menus .menu2 button {
  margin-left: -.3rem;
  cursor: pointer;
}

footer .menus .menu3 ul {
  display: -ms-grid;
  display: grid;
  gap: .5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .menus .menu3 ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  max-width: 89px;
}

footer .a {
  text-align: center;
  margin: 3rem 0;
}

@media (max-width: 1400px) {
  #products .container .text p {
    font-size: 1rem;
  }
  #products .container .text h2 {
    margin: .5rem 0;
  }
}

@media (max-width: 1100px) {
  .container {
    padding: 0 2.5rem;
  }
  header {
    z-index: 5;
    background-color: #6DD6DA;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  header nav .menu ul {
    display: none;
  }
  header nav .user-utils .menu-buttons .toggle {
    display: inline-block;
  }
  /*Mostrar menu*/
  nav.show .menu {
    opacity: 1;
    visibility: visible;
    background-color: #6DD6DA;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 10%;
    left: 0;
    display: -ms-grid;
    display: grid;
    place-content: center;
    z-index: 2;
  }
  nav.show .menu ul {
    display: -ms-grid;
    display: grid;
  }
  /*toggle menu*/
  .toggle {
    cursor: pointer;
    z-index: 2;
  }
  nav .icon-close {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  nav.show .icon-menu {
    opacity: 0;
    visibility: hidden;
  }
  nav.show .icon-close {
    visibility: visible;
    opacity: 1;
  }
  nav.show ul.grid {
    gap: 2rem;
    position: fixed;
    top: 25%;
    left: 50%;
    z-index: 5;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--dark-gray);
  }
  .sticky + main {
    padding-top: 200px;
  }
  #icons {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 5rem;
  }
  #home .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #home .container .text {
    max-width: 100%;
    text-align: center;
    padding: 2rem 0 0 0;
  }
  #home .container .cards {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #home .container .cards .card1 {
    width: 100%;
  }
  #home .container .cards .card-right {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
  }
  #home .scroll-down p {
    display: none;
  }
  #products {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #products .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #products .container .imagewrapper {
    padding: 0;
    margin-top: 2rem;
  }
  #products .container .text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    max-width: 100%;
    margin-bottom: 2rem;
  }
  #products .container .product-slider {
    position: static;
    width: 100%;
    margin-bottom: 2rem;
  }
  #socials div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #socials div a {
    width: 100%;
  }
  #socials div a:nth-child(2) {
    margin-top: 1rem;
  }
  #socials div a img {
    margin-top: 1rem;
  }
  footer .logo {
    margin-bottom: 2rem;
  }
  footer .menus {
    display: block;
    text-align: center;
  }
  footer .menus .logo {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  footer .menus .menu1 ul {
    display: block;
  }
  footer .menus .menu2 {
    margin: 2rem 0;
  }
}
/*# sourceMappingURL=main.css.map */