* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a.link {
  position: relative;
}

a.link::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a.link:hover::after {
  width: 100%;
}

img {
  max-width: 100%;
}

picture {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #6DD6DA;
}

section {
  margin-bottom: 5rem;
}

.container {
  padding: 0 5rem;
}

.swiper-container {
  width: 100%;
  max-height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#icons {
  padding: 0 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#icons img {
  border-radius: 50%;
}

#home {
  background-color: #A2ABB5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 40em;
}

#home .text {
  max-width: 26.5em;
  padding: 8em 0 12em 0;
}

#home .text h1 {
  font-size: 3.5rem;
  margin: .7em 0;
}

#home .text p {
  font-size: 1.5em;
}

#home .card1,
#home .card2,
#home .card3 {
  background-color: #home .card1, #home .card2, #home .card3 light-gray;
  font-size: 1.5em;
  max-width: 500px;
  text-align: center;
}

#home .card1 p:nth-child(2),
#home .card2 p:nth-child(2),
#home .card3 p:nth-child(2) {
  font-weight: bold;
  padding: 1em 0;
}

#home .card1 p:nth-child(3),
#home .card2 p:nth-child(3),
#home .card3 p:nth-child(3) {
  padding: 0 3rem 1.5em;
}

#home .card1 {
  position: absolute;
  top: 12.4%;
  left: 42%;
}

#home .card-right {
  position: absolute;
  right: 4.2%;
  top: 5%;
}

#home .scroll-down p {
  font-size: 10em;
  position: absolute;
  bottom: -.26em;
  left: .3em;
  cursor: pointer;
  display: inline;
}

#products {
  background-color: #A2ABB5;
  max-width: 89%;
}

#products .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#products .container img:nth-child(1) {
  max-width: 450px;
  margin: 5rem 2rem 5rem 0;
}

#products .container img:last-child {
  max-width: 650px;
  max-height: 400px;
  position: absolute;
  top: 20%;
  right: -6.7%;
}

#products .container .text {
  margin-top: 5rem;
  max-width: 25rem;
}

#products .container .text p {
  font-size: 1.5rem;
}

#products .container .text h2 {
  font-size: 4rem;
  margin: 2rem 0;
}

#products .container .text button {
  font-size: 1.5rem;
  color: white;
  border: none;
  background-color: black;
  padding: 1.5rem 4rem;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
  margin-top: 4.4rem;
}

#products .container .text button:hover {
  color: black;
  background-color: white;
}

#socials p {
  font-size: 3rem;
  text-align: center;
}

#socials div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#socials div img {
  max-height: 500px;
}

#socials div img:nth-child(2) {
  margin-top: 8rem;
}

footer .logo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

footer .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .menus .logo {
  font-size: 1.3rem;
  margin-bottom: 3rem;
  text-align: left;
}

footer .menus .menu1 ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: .5rem 3rem;
}

footer .menus .menu2 input,
footer .menus .menu2 button {
  background-color: #6DD6DA;
  border: none;
  border-bottom: 1px black solid;
  padding-bottom: .5rem;
  font-size: 1rem;
}

footer .menus .menu2 button {
  margin-left: -.3rem;
  cursor: pointer;
}

footer .menus .menu3 ul {
  display: -ms-grid;
  display: grid;
  gap: .5rem;
}

footer .a {
  text-align: center;
  margin-top: 3rem;
}

@media (max-width: 1100px) {
  #products {
    max-width: 100%;
  }
  #products .container {
    display: block;
  }
  #products:last-child {
    position: static;
  }
  #socials div {
    display: block;
  }
  #socials div img {
    margin-top: 1rem;
  }
  #socials div img:nth-child(2) {
    margin-top: 1rem;
  }
  footer .logo {
    margin-bottom: 2rem;
  }
  footer .menus {
    display: block;
    text-align: center;
  }
  footer .menus .logo {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  footer .menus .menu1 ul {
    display: block;
  }
  footer .menus .menu2 {
    margin: 2rem 0;
  }
}
/*# sourceMappingURL=main.css.map */